# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Distribuição
build/
dist/
*.egg-info/

# Logs
*.log

# ==========================
# Banco de dados
# ==========================
database.db
*.db
*.sqlite
*.sqlite3

# ==========================
# Variáveis de ambiente
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Testes
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Type Checkers
# ==========================
.mypy_cache/
.pyre/
.ruff_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/