<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dalaran's RPG - Seleção de Avatar</title>
    <link rel="stylesheet" href="/static/css/tela_personagens.css">
    <link rel="icon" type="image/png" href="/static/assets/icon/favico.png">
</head>
<body>
    <!-- Cortina de Transição Inicial Absoluta (Cobre tudo) -->
    <div id="page-transition" class="page-transition-overlay"></div>

    <div class="scanline"></div>

    <!-- Animação do painel de personagens -->
    <div id="welcome-screen" class="welcome-overlay">
        <h1 id="welcome-text" class="glitch" data-text=""></h1>
    </div>

    <audio id="click-sound">
        <source src="/static/assets/sounds/click.mp3" type="audio/mpeg">
    </audio>
    <audio id="delete-sound">
        <source src="/static/assets/sounds/deletplayer.mp3" type="audio/mpeg">
    </audio>

    <div id="character-panel" class="character-container hidden">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <h2 id="inicio">>_ SELECIONE_OU_CRIE_SEU_AVATAR</h2>
            <a href="/logout" class="disconnect-link transition-trigger" style="font-size: 0.8rem;">[ VOLTAR_AO_LOGIN ]</a>
        </div>
        
        <div id="character-list" class="char-grid">
            <!-- Gerado via JS -->
        </div>

        <div id="create-char-box" class="create-box">
            <h3>[ REGISTRAR NOVO AVATAR ]</h3>
            <div class="input-group">
                <label for="new-char-name">NOME DO PERSONAGEM:</label>
                <input type="text" id="new-char-name" autocomplete="off" maxlength="16">
            </div>
            <div class="input-group">
                <label for="new-char-class">CLASSE:</label>
                <select id="new-char-class">
                    <option value="Monge">Monge</option>
                    <option value="Mago">Mago</option>
                    <option value="Assassino">Assassino</option>
                </select>
            </div>
            <button onclick="submitNewCharacter()" class="action-btn">SALVAR_CHARACTER()</button>
        </div>
    </div>

    <script src="/static/js/tela_personagens.js"></script>
</body>
</html>